<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link href="{{ url_for('main.static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
{#{{ current_user }}#}
{% if current_user.is_authenticated %}

<div class="left-block">
    {{ current_user }}, <a href="{{ url_for('registration.logout') }}">Logout</a>
</div>

{% else %}

{#<div class="login-form">#}

{% include 'login.html' %}

{#</div>#}

{% endif %}

<script src="{{ url_for('main.static', filename='js/main.js') }}"></script>
</body>
</html>